

#imageviewcontainer {
  height: 800px;
  width: 1600px;
  display: flex;
  border: 1px solid aqua;
  align-items: center;
  justify-content: center;

}

#mainimagecontainer {
  position: relative;
  height: 400px;
  width: 794px;
  border: 1px solid red;
}

#mainimagebackground {
  height: 400px;
  width: 794px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
}

#mainimage {
  max-height: 400px;
  justify-items: center;
  border-radius: 4px;
  cursor: nesw-resize;
}

#expanded-overlay.overlay {
  position: fixed;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  background-color: rgba(63, 63, 63, 0.9);
}

.modal {
  position: relative;
  border-radius: 5px;
  width: 76%;
  margin: 0px auto;
  display: flex !important;
  justify-content: center;
  overflow: hidden;
}

#thumbnailcontainer {
  border: 1px solid orange;
  height: 400px;
  overflow: scroll;
  justify-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul#thumbnailcontainer {
  list-style: none;
}

li.imagelist {
  width: 75px;
  height: 75px;
  position: relative;
  overflow: hidden;
  margin-bottom: 6px;
  margin-right: 6px;
  border-radius: 4px;
}

li.imagelist img {
  width: 150px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .6;

}

li.imagelist img:hover {
  opacity: 1;
}

#pop-up-image-list #li img {
  width: 100px;
  height: 100px;
}

div#favorites {
  position:absolute;
  right: 2%;
  top: 3%;
}

div#favorites .svg-inline--fa {
  background: #fff;
  border-radius: 50%;
  padding: 10px;
}

div.nav-prev, div.nav-next{
  position: absolute;
  top: 50%;
}

div.nav-prev {
  left: 5%;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 12px 16px;
}

div.nav-next {
  right: 5%;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 12px 16px;
}

div.nav-prev, div.nav-next, div#favorites, li.imagelist img {
  cursor: pointer;
}

div.nav-prev, div.nav-next {
  -webkit-box-shadow: 3px 5px 28px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: 3px 5px 28px 0px rgba(0,0,0,0.22);
  box-shadow: 3px 5px 28px 0px rgba(0,0,0,0.22);
  opacity: 1;
  transition: box-shadow 500ms;



}

div.nav-prev:hover, div.nav-next:hover {
  -webkit-box-shadow: 3px 5px 42px 0px rgba(0,0,0,0.40);
  -moz-box-shadow: 3px 5px 42px 0px rgba(0,0,0,0.40);
  box-shadow: 3px 5px 42px 0px rgba(0,0,0,0.40);
  transform: scale(1.05);
  transition: ease-in-out .25s;
}

.popup-arrow {
  display: none;
}

#pop-up-main {
  max-width: 100%;
  max-height: 100%;
  width: 85%;
  height: 60%;
  cursor: zoom-in;
  padding: 10% 0;
  position: relative;
}

#popup-main-overlay {
  position: relative;
}

#popup-main-overlay img{
  max-width: 100%;
  height: auto;
  justify-items: center;
}

#pop-up-image-list-container {
  padding: 10% 0;
  position: relative;
}

#pop-up-image-list-container #pop-up-image-list {
  margin-block-start: 0;
  list-style: none;
  justify-content: center;
}

#pop-up-main img.zoom {
  padding: 50px;
  margin: 0 auto;
  cursor: zoom-out;
  overflow: hidden;
  transition: transform .5s ease-in-out;
}

#pop-up-main img.zoom:hover {
  transform: scale(1.5);
}
