body {
  overflow: hidden;
}

#image #imageviewcontainer {
  display: flex;
  align-items: center;
  justify-content: center;

}

#image #mainimagecontainer {
  position: relative;
  height: 400px;
  width: 794px;
}

#image #mainimagebackground {
  height: 400px;
  width: 794px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image #mainimage {
  max-height: 400px;
  justify-items: center;
  border-radius: 4px;
  cursor: nesw-resize;
}


#image #thumbnailcontainer {
  height: 400px;
  overflow: scroll;
  justify-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
}

#image .imagelist {
  width: 75px;
  height: 75px;
  position: relative;
  overflow: hidden;
  margin-bottom: 6px;
  margin-right: 6px;
  border-radius: 4px;
}

#image .imagelist img {
  opacity: .6;
}

li.imagelist img:hover {
  opacity: 1;
}

div#favorites {
  position: absolute;
  right: 2%;
  top: 3%;
}

div#favorites .svg-inline--fa {
  background: #fff;
  border-radius: 50%;
  padding: 10px;
}

div.nav-prev, div.nav-next{
  position: absolute;
  top: 50%;
}

div.nav-prev {
  left: 5%;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 12px 16px;
}

div.nav-next {
  right: 5%;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 12px 16px;
}

div.nav-prev, div.nav-next, div#favorites, ul.imagelist img {
  cursor: pointer;
}

div.nav-prev, div.nav-next {
  -webkit-box-shadow: 3px 5px 28px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: 3px 5px 28px 0px rgba(0,0,0,0.22);
  box-shadow: 3px 5px 28px 0px rgba(0,0,0,0.22);
  opacity: 1;
  transition: box-shadow 500ms;
}

div.nav-prev:hover, div.nav-next:hover {
  -webkit-box-shadow: 3px 5px 42px 0px rgba(0,0,0,0.40);
  -moz-box-shadow: 3px 5px 42px 0px rgba(0,0,0,0.40);
  box-shadow: 3px 5px 42px 0px rgba(0,0,0,0.40);
  transform: scale(1.05);
  transition: ease-in-out .25s;
}

#expanded-overlay.overlay {
  position: fixed;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  background-color: rgba(63, 63, 63, 0.9);
}

.modal {
  border-radius: 5px;
  width: 76%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#pop-up {
  max-width: 100%;
  max-height: 100%;
  width: 85%;
  height: 60%;
  cursor: zoom-in;
  padding: 10% 0;
  position: relative;
}

#popup-main-overlay {
  position: relative;
}

#popup-main-overlay img{
  max-width: 100%;
  height: auto;
  justify-items: center;
}

#pop-up-image-list-container {
  flex-direction: column;
  max-height: 100%;
  margin: 0 auto;
  align-items: center;
}

#li img {
  width: 100px;
  height: 100px;
}
#pop-up-image-list {
  margin-block-start: 0;
  padding-inline-start: 0;
  list-style: none;
  justify-content: center;
}

.imagelist {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  margin-bottom: 6px;
  margin-right: 6px;
  border-radius: 4px;
}

.imagelist img {
  width: 150px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


img.zoom {
  padding: 50px;
  margin: 0 auto;
  cursor: zoom-out;
  overflow: hidden;
  transition: transform .5s ease-in-out;
}

img.zoom:hover {
  transform: scale(1.5);
}

.modal-close {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  padding: 10px 14px;
  right: 0;
}
