h1 {
  color: brown;
}

#app {
  background-color: ivory;
}

#imageviewcontainer {
  display: flex;


}


#mainimage {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid black;
  overflow: visible;




}

#mainimagecontainer {
  margin-bottom: 6px;
  margin-right: 6px;
  position: relative;
  width: 100%;
  flex: 6 1 0%;
  overflow: hidden;
}
ul#thumbnailcontainer {
  list-style:none;
  padding-left: 0;
  margin-block-start: 0;
  justify-content: flex-start;
}

li.imagelist {
  width: 75px;
  height: 75px;
  position: relative;
  overflow: hidden;
  margin-bottom: 6px;
  margin-right: 6px;
  border: 2px solid black;
  border-radius: 4px;
}

li.imagelist img {
  width: auto;
  height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#favorites {
  position:absolute;
  right: 2%;
  top: 3%;


}

#favorites .svg-inline--fa {
  background: #fff;
  border-radius: 50%;
  padding: 10px;
}



.nav-prev, .nav-next{
  position:absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-prev {
  left: 5%;
  background: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 12px 16px;
}

.nav-next {
  right: 5%;
  background: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 12px 16px;
}

.popup-content {
  z-index: 9999;
  width: auto!important;
  top: auto!important;
  left: auto!important;

}
#zoomimage {
  overflow: visible;
  position: absolute;
}

.overlay{
  position: fixed;
    background: rgba(0, 0, 0, 0.7);
}

.popup-arrow {
  display: none;
}